<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/header.jpg');">
  <div class="filter"></div>
  <div class="container">
    <div class="title-brand">
      <div class="angular-logo" style="max-width: 250px;">
        <img src="../../assets/img/log.png" alt="">
      </div>
      <div class="motto text-center">
        <h1>Listen to your favorite music, with friends</h1>
        <h3>jukebox.li is a collection of collaborative playlists, where you can listen to the same music as your
          friends, synchronously</h3>
        <br/>
        <button type="button" class="btn btn-outline-primary btn-round" (click)="getCode()">Start</button>
      </div>
    </div>
  </div>
</div>




